<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guide for Valorant</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-mainColor text-white">
  <!-- NAV bar -->
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <img src="assets/logo.png" alt="Site logo" width="60px" >
        <a href="index.html" class="btn btn-ghost normal-case text-xl">Guide for Valorant</a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href="about.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          About Game
        </a>
        <a href="agents.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Agents
        </a>
        <a href="maps.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Maps
        </a>
      </nav>

    </div>
  </header>
<!-- ЗАгловление -->
  <div class="container px-20 py-16 mx-20">
    <div class="items-center lg:flex">
        <h1 class="text-6xl font-semibold text-gray-200 uppercase ">Beginner’s Guide</h1>
    </div>  
  </div>
<!-- Content Section -->
  <div class="bg-mainColor container px-6  mx-auto text-center">
    <div class="max-w-lg mx-auto">
         <p class="text-gray-100">Straight from the files of Brimstone, this is the VALORANT Beginner’s Guide. Whether this is your first rotation or you're needing a refresher, we figure it’s best you take it from the Agent who’s seen it all before.</p>
         <p class="mt-6 text-gray-100">Below is what to know before your first game. Pay attention. Might learn something.</p>
         <img class="py-10"src="assets/about/WIV_1_Intro_WiV.jpg" alt="img">
         <p class="text-gray-100">Before you enter your first round, you get to pick from a group of Agents, each with their own role and special skills designed to work alongside each other toward a win. You can dig into the specifics of each Agent on our Agents page.</p>
         <img class="py-10"src="assets/about/012422_WIV_2_Roles_Updated.jpg" alt="img">
         <p class="text-gray-100">After everyone selects their Agent (oh, you picked that one), you’ll jump into a random map and formally enter the first round.</p>
         <p class="mt-6 text-gray-100">Start a round as either attacker or defender and switch sides in between. Before you do either, you’ll need to navigate the buy phase, which lets you purchase weapons and abilities. What you buy shapes how you can win. Let style or matchups guide your choices.</p>
         <img class="py-10"src="assets/about/WIV_3_Round.jpg" alt="img">
         <p class="text-gray-100">No one’s going to tell you how to spend your money, but you’re going to have to pull the trigger at some point.

          There’s a gun for every situation and you can comb the details of each weapon on our dedicated arsenal page. When in doubt, try buying based on a weapon’s type and see how it fits your style, expertise, and your team’s strategy.</p>
         <img class="py-10"src="assets/about/WIV_4_WEAPONS.jpg" alt="img">
         <p class="text-gray-100">Each map is a different stage to style on your enemies. Flex your creative skills and savvy gunplay for different encounters.

          Below are the basics and you can plot your route using our detailed maps page.</p>
         <img class="py-10"src="assets/about/WIV_5_Maps_CORRECTED.jpg" alt="img">
         <p class="text-gray-100">Yeah, you might already know how to frag an enemy six ways from Sunday, but Brimstone will tell you, most of those ways are pretty noisy.</p>
         <img class="py-10"src="assets/about/WIV_TACSCHOOL_1.jpg" alt="img">
         <img class="py-10"src="assets/about/WIV_TACSCHOOL_2.jpg" alt="img">
         <p class="py-10 text-gray-100">No more doubts, you’re ready. But like you, we’re just getting started.</p>
    </div>
  </div>

  <div class="bg-black h-64"></div>

</body>
</html>