<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guide for Valorant</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-mainColor text-white">
  <!-- NAV bar -->
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <img src="assets/logo.png" alt="Site logo" width="60px" >
        <a href="index.html" class="btn btn-ghost normal-case text-xl">Guide for Valorant</a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href="about.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          About Game
        </a>
        <a href="agents.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Agents
        </a>
        <a href="maps.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Maps
        </a>
      </nav>

    </div>
  </header>
<!-- Content Section -->
  <section class="bg-mainColor">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">PHOENIX</h2>
            <p>Hailing from the U.K., Phoenix's star power shines through in his fighting style, igniting the battlefield with flash and flare. Whether he's got backup or not, he'll rush into a fight on his own terms.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="assets/agents/phoenix valorant.jpg" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="assets/agents/Phoenix _ Valorant2.jpg" alt="office content 2">
        </div>
    </div>
</section>

</body>
</html>