<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <img src="assets/logo.png" alt="Site logo" width="60px" >
        <a href="index.html" class="btn btn-ghost normal-case text-xl">Guide for Valorant</a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href="about.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          About Game
        </a>
        <a href="agents.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Agents
        </a>
        <a href="maps.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Maps
        </a>
      </nav>
      <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 bg-cyan-500 shadow-lg shadow-cyan-500/50">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Sign up
        </span>
      </button>
      <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 bg-cyan-500 shadow-lg shadow-cyan-500/50">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Login
        </span>
      </button>
    </div>
  </header>