<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guide for Valorant</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-mainColor text-white">
  <!-- NAV bar -->
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <img src="assets/logo.png" alt="Site logo" width="60px" >
        <a href="index.html" class="btn btn-ghost normal-case text-xl">Guide for Valorant</a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href="about.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          About Game
        </a>
        <a href="agents.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Agents
        </a>
        <a href="maps.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Maps
        </a>
      </nav>
    </div>
  </header>

  <!-- Hero image -->
  <div class="hero min-h-screen" style="background-image: url(assets/bg.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
              <h1 class="mb-5 text-white text-5xl font-bold">A 5v5 character-based tactical shooter</h1>
              <button class="btn btn-primary">PLay Now</button>
        </div>
    </div>
  </div>

  <!-- First section -->
  <section class="bg-mainColor lg:py-12 lg:flex lg:justify-end">
        <div class="bg-gray-800 lg:mx-6 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
            <div class="lg:w-full">
                <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('assets/1234.png')"></div>
            </div>
            <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white md:text-3xl">WE ARE <span class="text-red-400">VALORANT</span></h2>
                <h1 class="mt-4 gray-200">DEFY THE LIMITS</h1>
                <p class="mt-4 text-gray-400">
                  Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush.
                </p>
                <div class="mt-8">
                    <a href="about.html" class="px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700">Learn The game</a>
                </div>
            </div>
        </div>
  </section>

  <!-- Second section -->
  <section class="bg-mainColor lg:py-12 lg:flex lg:justify-start">
      <div class="bg-gray-800 lg:mx-6 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
          <div class="lg:w-full">
              <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('assets/agents.jpg')"></div>
          </div>
          <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
              <h2 class="text-2xl font-bold text-gray-800 dark:text-white md:text-3xl">YOUR <span class="text-green-400">AGENTS</span></h2>
              <h1 class="mt-4 gray-200">CREATIVITY IS YOUR GREATEST WEAPON</h1>
              <p class="mt-4 text-gray-400">
                More than guns and bullets, you’ll choose an Agent armed with adaptive, swift, and lethal abilities that create opportunities to let your gunplay shine. No two Agents play alike, just as no two highlight reels will look the same.
              </p>
              <div class="mt-8">
                  <a href="agents.html" class="px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700">View All Agents</a>
              </div>
          </div>
      </div>
  </section>

  <!-- Third section -->
  <section class="bg-mainColor lg:py-12 lg:flex lg:justify-end">
      <div class="bg-gray-800 lg:mx-6 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
          <div class="lg:w-full">
              <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('assets/maps.jpg')"></div>
          </div>

          <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
              <h2 class="text-2xl font-bold text-gray-800 dark:text-white md:text-3xl">YOUR <span class="text-blue-400">MAPS</span></h2>
              <h1 class="mt-4 text-gray-200">FIGHT AROUND THE WORLD</h1>
              <p class="mt-4 text-gray-400">
                Each map is a playground to showcase your creative thinking. Purpose-built for team strategies, spectacular plays, and clutch moments. Make the play others will imitate for years to come.
              </p>
              <div class="mt-8">
                  <a href="maps.html" class="px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700">View All Maps</a>
              </div>
          </div>
      </div>
  </section>
  <div class="bg-black h-64"></div>
</body>
</html>
