<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guide for Valorant</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-mainColor text-white">

  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <img src="assets/logo.png" alt="Site logo" width="60px" >
        <a href="index.html" class="btn btn-ghost normal-case text-xl">Guide for Valorant</a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href="about.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          About Game
        </a>
        <a href="agents.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Agents
        </a>
        <a href="maps.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-10 hover:italic">
          Maps
        </a>
      </nav>

    </div>
  </header>

      <section class="bg-mainColor">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">PEARL</h2>
                <p>Attackers push down into the Defenders on this two-site map set in a vibrant, underwater city. Pearl is a geo-driven map with no mechanics. Take the fight through a compact mid or the longer range wings in our first map set in Omega Earth.</p>
            </div>

              <div class="carousel w-full ">
                <div id="slide1" class="carousel-item relative w-full">
                  <img src="assets/maps/Pearl_Gallery_01.png" class="w-full" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide2" class="btn btn-circle">❯</a>
                  </div>
                </div> 
                <div id="slide2" class="carousel-item relative w-full">
                  <img src="assets/maps/Pearl_Map_Website_641x641.png" class="w-full" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide1" class="btn btn-circle">❮</a> 
                  </div>
                </div> 
        </div>
        </div>
    </section>
</body>
</html>